{% extends 'main.html' %}

{% block content %}
<main class="auth layout">
    <div class="container">
      <div class="layout__box">
        <div class="layout__boxHeader">
          <div class="layout__boxTitle">
            <h3>Password Reset Sent</h3>
          </div>
        </div>       
        <div class="layout__body">
          <p >Instructions for resetting your password has been sent to your email address. You should receive them shortly</p>
          <br>
          <p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
        </div>
      </div>
    </div>
  </main>
{% endblock content %}



