<div class="activities">
    <div class="activities__header">
      <h2>Recent Prescriptions </h2>
    </div>
    {% for prescribes in prescriptions %} 
    {% if request.user.email == prescribes.user1 and user3.email == prescribes.user2 or request.user.email == prescribes.user2 and user3.email == prescribes.user1  %}
    {% if request.user.status == 'patient' %}
    <div class="activities__box">
      <div class="activities__boxHeader roomListRoom__header">
        <a href="{% url 'user-profile' prescribes.user.id %}" class="roomListRoom__author">
          <div class="avatar avatar--small">
            <img src="{{prescribes.user.avatar.url}}" />
          </div>
          <p>
            <a href="{% url 'user-prescribe-details' prescribes.id %}" style="margin-left: -40px;">{{prescribes.title}}</a>
            <span style="margin-left: -40px;">{{prescribes.created|timesince}} ago</span>
          </p>
        </a>

        <div class="roomListRoom__actions">
          <a href="{% url 'delete-prescriptions' prescribes.id %}">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
              <title>remove</title>
              <path
                d="M27.314 6.019l-1.333-1.333-9.98 9.981-9.981-9.981-1.333 1.333 9.981 9.981-9.981 9.98 1.333 1.333 9.981-9.98 9.98 9.98 1.333-1.333-9.98-9.98 9.98-9.981z"
              ></path>
            </svg>
          </a>
        </div>

      </div>
      <div class="activities__boxContent">
        <div class="activities__boxRoomContent">
           By: &nbsp; <a href="{% url 'user-profile' user3.id %}">@Dr. {{prescribes.user.name}}</a>
        </div>
      </div>
    </div>
    {% else %}
    <div class="activities__box">
      <div class="activities__boxHeader roomListRoom__header">
        <a href="{% url 'user-profile' prescribes.user.id %}" class="roomListRoom__author">
          <div class="avatar avatar--small">
            <img src="{{user3.avatar.url}}" />
          </div>
          <p>
            <a href="{% url 'user-prescribe-details' prescribes.id %}" style="margin-left: -40px;">{{prescribes.title}}</a>
            <span style="margin-left: -40px;">{{prescribes.created|timesince}} ago</span>
          </p>
        </a>

        <div class="roomListRoom__actions">
          <a href="{% url 'delete-prescriptions' prescribes.id %}">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
              <title>remove</title>
              <path
                d="M27.314 6.019l-1.333-1.333-9.98 9.981-9.981-9.981-1.333 1.333 9.981 9.981-9.981 9.98 1.333 1.333 9.981-9.98 9.98 9.98 1.333-1.333-9.98-9.98 9.98-9.981z"
              ></path>
            </svg>
          </a>
        </div>

      </div>
      <div class="activities__boxContent">
        <div class="activities__boxRoomContent">
           To: &nbsp; <a href="{% url 'user-profile' user3.id %}">@{{user3.name}}</a>
        </div>
      </div>
    </div>
    {% endif %}
    {% endif %} 
    {% endfor %}
  </div>



<!-- <h3>Recent Activity</h3>
    <hr>
    {% for message in room_messages %}
        <div>
            <small><a href="{% url 'user-profile' message.user.id %}">@{{message.user}}</a> {{message.created|timesince}}</small>
            <small>replied to "{{message.room}}"</small>
            <p>{{message.body}}</p> -->

            <!-- only show this delete button to the owner of the message -->

            <!-- {% if request.user == message.user %}
            <a href="{% url 'delete-message' message.id %}">Delete</a>
            {% endif %}
            <hr>
        </div>
    {% endfor %} -->